* {
  font-family: "Noto Sans", sans-serif !important;
}
.country-navbar {
  padding: 32px 0 38px 0;
}
.country-navbar .navbar-brand {
  font-size: 20px;
  font-weight: 700;
  color: #3d3d3d;
}
.country-navbar .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
}
.country-navbar .navbar-nav .nav-link.active {
  color: #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}
.country-navbar .navbar-toggler {
  border: inherit;
}
.social-icon-row a {
  width: 50px;
  height: 50px;
}
.homebanner-row {
  margin-top: 21px;
  margin-bottom: 21px;
}
.homebanner-row .carousel-indicators button {
  width: 13.6px;
  height: 13.6px;
  border-radius: 50%;
  background-color: #fef7ff;
  opacity: 1;
}
.homebanner-row .carousel-indicators button.active {
  background-color: #1d1b20;
}
.carousel-control-prev,
.carousel-control-next {
  top: auto;
  bottom: 18px;
  transform: none;
  opacity: 1;
  z-index: 3;
}
.carousel-control-prev {
  left: 34%;
}
.carousel-control-next {
  right: 34%;
}
.carousel-control-prev-icon {
  background-image: url("./assets/left-arrow.png");
}
.carousel-control-next-icon {
  background-image: url("./assets/right-arrow.png");
}
hr.top-border-title {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #3d3d3d 35%, transparent 30%) 100% 1;
}
hr.bottom-border-title {
  border: 2px solid transparent;
  border-image: linear-gradient(to left, #3d3d3d 35%, transparent 30%) 100% 1;
}
.country-card {
  border: 2px solid #3e3e3e;
  border-radius: inherit;
  padding: 18px 0 18px 18px;
}
.country-card .card-body {
  padding: 0 0 0 0;
}
footer .social-icon-row {
  margin: 0 0 40px 0;
}
footer .copyright-content p {
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
  color: #3d3d3d;
  margin-bottom: 15px;
}

/* Login page */
.loginpage-row h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #3d3d3d;
  margin-bottom: 13px;
}
.loginpage-row p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #3d3d3d;
  margin-bottom: 13px;
}
.loginpage-row p a {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #587fff;
  margin-left: 9px;
  text-decoration: none;
}
.signinForm {
  margin-top: 30px;
}
.signinForm .form-control {
  height: 48px;
  border: 2px solid #3e3e3e;
  border-radius: inherit;
  padding: 0 0 0 16px;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 600;
}
.signinForm .form-check-input {
  width: 32px;
  height: 32px;
  border: 2px solid #000000;
  border-radius: inherit;
  margin-right: 16px;
}
.signinForm .form-check-label {
  font-size: 16px;
  line-height: 34px;
  font-weight: 600;
  color: #3d3d3d;
}
.login-socialmedia {
  margin-top: 32px;
}
.login-socialmedia h4 {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  line-height: 19px;
  color: #3d3d3d;
  letter-spacing: 3%;
  font-weight: bold;
  margin-bottom: 32px;
}
.login-socialmedia h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #cfcfcf;
  margin: auto auto auto 10px;
}
.login-socialmedia h4:before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #cfcfcf;
  margin: auto 10px auto auto;
}
.homebanner-row .carousel-item {
  height: 200px;
}
.right-frame {
  height: 150px;
}
.right-frame img {
  height: 74px;
  width: 69px;
}

.welcome-title {
  display: block;
  font-size: 25px;
  line-height: 35px;
  color: #3d3d3d;
  font-weight: bold;
  border-top: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
  padding: 15px 0;
}
.welcome-title:after {
  content: inherit;
}
.welcome-title:before {
  content: inherit;
}
.country-card .card-img {
  width: 48px;
  height: 46px;
}
@media (min-width: 575.98px) {
  .homebanner-row .carousel-item {
    height: 280px;
  }
}

@media (min-width: 767.98px) {
  .signin-form-wrapper {
    max-width: 280px;
  }
  .homebanner-row .carousel-item {
    height: 480px;
  }
  .right-frame {
    height: 100%;
  }
  .right-frame img {
    width: 120px;
    height: 120px;
    border-radius: 16px;
  }
  .welcome-title {
    display: flex;
    flex-direction: row;
    font-size: 37px;
    line-height: 40px;
    color: #3d3d3d;
    font-weight: bold;
    padding: 0;
    border: inherit;
  }
  .welcome-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #3d3d3d;
    margin: auto auto 7px 25px;
  }
  .welcome-title:before {
    content: "";
    flex: 1 1;
    border-top: 2px solid #3d3d3d;
    margin: 7px 25px auto auto;
  }
  .country-navbar {
    padding: 40px 0;
  }
  .country-navbar .navbar-brand {
    font-size: 24px;
  }
  .country-card .card-img {
    width: 127px;
    height: 96px;
  }
  .country-card .card-body {
    padding: 0 0 0 25px;
  }

  .homebanner-row {
    margin-top: 42px;
    margin-bottom: 32px;
  }
}
